
<div id="donationList">

    <div class="divider divider-primary">
        <div class="divider-text">기부부탁증 / 기회권</div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-title">받은 기부 기회권</h4>

                    <input type="text" class="form-control" id="daterange" style="width: 260px;cursor: pointer;" readonly="readonly"/>

                </div>
                <div class="card-datatable">
                    <table class="datatables-ajax table table-responsive hover">
                        <thead>
                            <tr>
                                <th>발급자</th>
                                <th>발급 대상</th>
                                <th>최대 기부 가능 금액</th>
                                <th>실제 기부 금액</th>
                                <th>상태</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="contentDiv"></div>