<div class="divider divider-primary">
    <div class="divider-text">프리미어 <%= type %></div>
</div>

<div class="pretext mb-2 ">
    <h1>premier</h1>
</div>

<div class="row match-height" id="premier" style="min-height: 450px;"></div>

<div class="divider divider-success">
    <div class="divider-text">일반 <%= type %></div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="card-title"><%= type %></h4>
            </div>
            <div class="card-datatable">
                <table class="datatables-ajax table table-responsive hover">
                    <thead>
                        <tr>
                            <th>공고 제목</th>
                            <th>모집 타입</th>
                            <th>열람</th>
                            <th>지원자</th>
                            <th>찜</th>
                            <th>남은 기간</th>
                            <th>등록일</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal"></div>
