<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills mb-2">
            <!-- account -->
            <li class="nav-item">
                <a class="nav-link active" id="account-tab-fill" data-bs-toggle="pill" href="#account">
                    <i data-feather="user" class="font-medium-3 me-50"></i>
                    <span class="fw-bold">Account</span>
                </a>
            </li>
            <!-- security -->
            <li class="nav-item">
                <a class="nav-link"  id="security-tab-fill" data-bs-toggle="pill" href="#security">
                    <i data-feather="lock" class="font-medium-3 me-50"></i>
                    <span class="fw-bold">Security</span>
                </a>
            </li>
            <!-- billing and plans -->
            <li class="nav-item">
                <a class="nav-link" id="billing-tab-fill" data-bs-toggle="pill" href="#billing">
                    <i data-feather="bookmark" class="font-medium-3 me-50"></i>
                    <span class="fw-bold">Billings</span>
                </a>
            </li>
            <!-- notification -->
            <li class="nav-item">
                <a class="nav-link" id="notifications-tab-fill" data-bs-toggle="pill" href="#notifications">
                    <i data-feather="bell" class="font-medium-3 me-50"></i>
                    <span class="fw-bold">Notifications</span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account" aria-labelledby="account-tab-fill" aria-expanded="true">
                <div id="accountTab"></div>
            </div>
            <div class="tab-pane" id="security" role="tabpanel" aria-labelledby="security-tab-fill" aria-expanded="false">
                <div id="securityTab"></div>
            </div>
            <div class="tab-pane" id="billing" role="tabpanel" aria-labelledby="billing-tab-fill" aria-expanded="false">
                <div id="billingTab"></div>
            </div>
            <div class="tab-pane" id="notifications" role="tabpanel" aria-labelledby="notifications-tab-fill" aria-expanded="false">
                <div id="notiTab"></div>
            </div>
        </div>

        <!-- profile -->


        <!--/ profile -->
    </div>
</div>