

    <div class="divider divider-primary">
        <div class="divider-text">point 관리</div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="avatar bg-light-info p-50 mb-1">
                                <div class="avatar-content">
                                    <i data-feather="eye" class="font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="fw-bolder">1,000,000</h2>
                            <p class="card-text">전체 누적 point</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="avatar bg-light-warning p-50 mb-1">
                                <div class="avatar-content">
                                    <i data-feather="message-square" class="font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="fw-bolder">300,000</h2>
                            <p class="card-text">전체 소진 point</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="avatar bg-light-danger p-50 mb-1">
                                <div class="avatar-content">
                                    <i data-feather="shopping-bag" class="font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="fw-bolder">300,000</h2>
                            <p class="card-text">전체 소멸 point</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="avatar bg-light-primary p-50 mb-1">
                                <div class="avatar-content">
                                    <i data-feather="heart" class="font-medium-5"></i>
                                </div>
                            </div>
                            <h2 class="fw-bolder">400,000</h2>
                            <p class="card-text">전체 사용가능 point</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-title">point</h4>
                </div>
                <div class="card-datatable">
                    <table class="datatables-ajax table table-responsive hover">
                        <thead>
                            <tr>
                                <th>이름</th>
                                <th>현재 point</th>
                                <th>소진 누적</th>
                                <th>소멸 누적</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

<div id="contentDiv"></div>