<div class="mb-1 row">
    <label for="<%=id%>" class="col-sm-3 col-form-label" id="<%=id%>_name"><%=text%></label>
    <div class="col-sm-9">
        <input type="number" class="form-control bookingUser" id="<%=id%>">
    </div>
</div>
