<div class="mb-1 row">
    <label for="<%=text%>" class="col-sm-3 col-form-label"><%=text%></label>
    <div class="col-sm-9">
        <input type="text" class="form-control" readonly="readonly"
               id="<%=text%>" value="오프라인으로 기부부탁증/기회권을 발급하세요">
    </div>
</div>
