<div class="row">
    <div class="col-12">
        <div class="card" style="    margin-bottom: 5px;">
            <div class="card-body" style="    padding: 10px 30px;">
                <!-- Round buttons -->
                <div class="demo-inline-spacing">
                    <button type="button" id="home" class="btn btn-outline-secondary round waves-effect btn-sm">home</button>
                    <button type="button" id="clear" class="btn btn-outline-secondary round waves-effect btn-sm">클릭 취소</button>
                    <button type="button" id="registerBtn" class="btn btn-outline-success round waves-effect btn-sm">예약하기</button>
                    <button type="button" id="canselBtn" class="btn btn-outline-danger round waves-effect btn-sm">등록 취소</button>
                    <button type="button" id="donationChanceBtn" style="display: none;" class="btn btn-outline-primary round waves-effect btn-sm">기부부탁증/기회권 발부</button>
                    <button type="button" id="donationViewBtn" style="display: none;" class="btn btn-outline-primary round waves-effect btn-sm">기부증 확인</button>
                    <button type="button" id="pointViewBtn" style="display: none;" class="btn btn-outline-primary round waves-effect btn-sm">포인트 확인</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contentMainDiv"></div>

<div id="registerModal"></div>
<div id="donationChanceModalDiv"></div>