
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="mb-2">김태호</h5>
            <div class="demo-inline-spacing">
                <button id="bookmarkBtn1" type="button" class="btn btn-sm btn-outline-primary round waves-effect">사용하기</button>
                <button type="button" class="btn btn-sm btn-outline-secondary round waves-effect">즐겨찾기 등록</button>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="mb-2">외근</h5>
            <div class="demo-inline-spacing">
                <button id="bookmarkBtn2" type="button" class="btn btn-sm btn-outline-primary round waves-effect">사용하기</button>
                <button type="button" class="btn btn-sm btn-outline-secondary round waves-effect">즐겨찾기 등록</button>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="mb-2">휴가</h5>
            <div class="demo-inline-spacing">
                <button id="bookmarkBtn3" type="button" class="btn btn-sm btn-outline-primary round waves-effect">사용하기</button>
                <button type="button" class="btn btn-sm btn-outline-secondary round waves-effect">즐겨찾기 등록</button>
            </div>
        </div>
    </div>
