<div id="stat"></div>

<div class="divider divider-primary">
    <div class="divider-text">프리미어</div>
</div>

<div class="pretext">
    <h1>premier job</h1>
</div>

<div class="row match-height" id="premier"></div>

<div class="divider divider-success">
    <div class="divider-text">job</div>
</div>

<div id="normal"></div>

<div id="modal"></div>
