<div class="col-lg-3 col-md-6 col-12">
    <div class="card card-profile">
        <img src="../../../app-assets/images/banner/banner-12.jpg" class="img-fluid card-img-top" alt="Profile Cover Photo">
        <div class="card-body">
            <div class="profile-image-wrapper">
                <div class="profile-image">
                    <div class="avatar">
                        <img src="../../../app-assets/images/portrait/small/avatar-s-9.jpg" alt="Profile Picture">
                    </div>
                </div>
            </div>
            <h3>Curtis Stone</h3>
            <h6 class="text-muted">Malaysia</h6>
            <span class="badge badge-light-primary profile-badge">Pro Level</span>
            <hr class="mb-2">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="text-muted fw-bolder">Followers</h6>
                    <h3 class="mb-0">10.3k</h3>
                </div>
                <div>
                    <h6 class="text-muted fw-bolder">Projects</h6>
                    <h3 class="mb-0">156</h3>
                </div>
                <div>
                    <h6 class="text-muted fw-bolder">Rank</h6>
                    <h3 class="mb-0">23</h3>
                </div>
            </div>
        </div>
    </div>
</div>