<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">Featured</div>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional content natural lead-in to additional content.
                </p>
                <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <h6 class="card-header">Quote</h6>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit
                        amet, Integer posuere erat a ante Integer posuere erat a anteconsectetur.
                    </p>
                    <footer class="blockquote-footer">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">일자리</h4>
                <p class="card-text">With supporting text below as a natural.</p>
                <a href="#" class="btn btn-outline-primary waves-effect" id="register">등록하기</a>
            </div>
        </div>
    </div>
</div>