
<div class="pretext mb-2 ">
    <h1>기다려 주세요 개발중입니다</h1>
</div>


<div class="row">
    <div class="col-12">
        <div class="text-center">
            <img src="/cportalFile/img/coming.jpg" alt="coming" class="img-fluid rounded" style="max-width:60%">
        </div>
    </div>
</div>


