<div class="col-xl-3 col-md-6 col-sm-12" >
    <div class="col" ontouchstart="this.classList.toggle('hover');" id="<%= id %>">
        <div class="cardContainer">
            <div class="front">
                <div class="inner">
                    <p><%= companyName %></p>
                    <span><%= companyType %></span>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <p><%= companyDes %></p>
                </div>
            </div>
        </div>
    </div>
</div>