<div class="col-md-6 col-xl-4">
    <div class="card border-0 text-white holo charizard" id="<%= id %>">
        <img class="card-img" src="<%=companybg%>" alt="Card image">
        <div class="card-img-overlay holo-overlay">
            <h4 class="card-title text-white"><%= companyName %></h4>
            <p class="card-text">
                <%= companyDes %>
            </p>
        </div>
    </div>
</div>
