<div class="option" style="--optionBackground:url(<%=companybg%>);" id="<%= id %>">
    <div class="shadowI"></div>
    <div class="company">
        <div class="icon">
            <i class="fas fa-award "></i>
        </div>
        <div class="info">
            <div class="main"><%= companyName %></div>
            <div class="sub"><%= companyDes %></div>
        </div>
    </div>
</div>
