<div class="row">

    <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="card mb-4">
            <img class="card-img-top" src="/cportalFile/img/dododo.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <strong class="mb-1">사업부 대표 :</strong> 김영건.(S) 스탠Kim <br>
                    <strong class="mb-1">주요 사업 :</strong> 실행 플랫폼 사업<br>
                    <strong class="mb-1">주요 서비스 :</strong> 실행 네트워크, 실행 방안, 실행 보고, 실행 관리, 실행 보완, 실행 보증
                </p>
                <p class="card-text">
                    상담 연락 : 010-7430-2568 (dododo@castis.com)
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-9 col-md-6 col-sm-12">
        <div id="noticeBoard">
        </div>
    </div>

</div>


