<td class="<%= itemClass %>" id="<%= id %>" data-bs-html="true" data-bs-toggle="popover"
    data-bs-content="<div><b>Example popover</b> <%=content%> </div> "
    data-bs-placement="top" data-bs-trigger="hover" title="Description"><%=register%></td>