
<div id="companyList">

    <div class="divider divider-primary" style="margin-top: 100px;">
        <div class="divider-text">프리미어 비춰보기</div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="pretext">
                <h1>premier</h1>
            </div>

            <div class="demo-inline-spacing" id="premierDivId">
            </div>

        </div>
    </div>

</div>


<div id="registerModal"></div>

