<div class="row">
    <div class="col-12">
        <div class="card" style="    margin-bottom: 5px;">
            <div class="card-body" style="    padding: 10px 30px;">
                <!-- Round buttons -->
                <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-outline-primary round waves-effect btn-sm">Primary</button>
                    <button type="button" class="btn btn-outline-secondary round waves-effect btn-sm">Secondary</button>
                    <button type="button" class="btn btn-outline-success round waves-effect btn-sm">Success</button>
                    <button type="button" class="btn btn-outline-danger round waves-effect btn-sm">Danger</button>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="overflow-y" id="viewTable">
    <thead>
        <tr id="viewHead">
        </tr>
    </thead>
    <tbody id="viewBody">
    </tbody>
</table>