<div class="row">
    <!-- Medal Card -->
    <div class="col-12">
        <div class="card card-congratulation-medal">
            <div class="card-body">
                <h5>비춰보기</h5>
                <p class="card-text font-small-3">기본 비춰보기 링크 상품은 무료 !! </p>
                <button type="button" id="registerViewBtn" class="btn btn-primary waves-effect waves-float waves-light">등록하기</button>
                <img src="/app-assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic">
            </div>
        </div>
    </div>
    <!--/ Medal Card -->
</div>

<div id="companyList" class="mb-3">

    <div class="divider divider-primary">
        <div class="divider-text">프리미어 비춰보기</div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <div class="pretext">
                <h1>premier</h1>
            </div>

            <div class="card-grid mt-3" id="premierDivId">
            </div>

        </div>

    </div>
</div>


<div class="divider divider-dark" style="margin-top: 150px">
    <div class="divider-text">비춰보기</div>
</div>

<div class="row" style="padding-bottom: 100px">
    <div class="col-12">
        <div class="demo-inline-spacing" id="normalDivId">
        </div>
    </div>
</div>

<div id="registerModal"></div>

