<a class="viewCard" href="<%=link%>" target="_blank" style="max-height: 220px;">
    <div class="card__background" style="background-image: url(<%=bgImg%>)"></div>
    <div class="card__content">
        <p class="card__category">비춰보기</p>
        <h3 class="card__heading"><%=title%></h3>
    </div>
</a>