<div class="modal fade modal-dark text-start" id="paymentModal" tabindex="-1" aria-labelledby="myModalLabel150" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title text-white" id="myModalLabel150">결제 하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card">
                <img class="card-img-top" src="cportalFile/img/ad.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>